$colors: (
  purple: #833eaa,
  red: #ea241b
);

$nes: (
  black: #232323,
  blue: #0000bc,
  blue--light: #0058f8,
  green: #007800,
  green--dark: #005800,
  green--light: #58d854,
  grey: #bcbcbc,
  grey--dark: #7c7c7c,
  grey--light: #f8f8f8,
  gold: #d1b971,
  orange: #f83800,
  orange--light: #fca044,
  purple: #4428bc,
  purple--light: #6844fc,
  red: #a80020,
  red--light: #e40058,
  teal: #004058,
  white: #fcfcfc,
  white--off: #f8f8f8
);

$snes: (
  purple: #9052b4,
  purple--dark: #663985,
  purple--light: #ae7ad2
)
