* {
  box-sizing: border-box; }
  *:before, *:after {
    content: "";
    display: block;
    height: 0; }

html {
  margin: 0;
  padding: 0; }

body {
  color: #333;
  font-family: "Source Code Pro";
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-weight: normal; }

img {
  max-width: 100%;
  width: 100%; }

.site-wrapper {
  max-width: 100%; }

@keyframes animatedBackground {
  0% {
    background-position: 0 0; }
  25% {
    background-position: 100% 100%; }
  50% {
    background-position: 0% 100%; }
  75% {
    background-position: 100% 0%; }
  100% {
    background-position: 0% 0; } }

.main-header {
  animation: animatedBackground 200s linear infinite;
  background: url("images/links_awakening.png") 0 0 fixed;
  padding-top: .01em;
  overflow: hidden;
  position: relative; }
  @media only screen and (min-width: 640px) {
    .main-header {
      background: url("images/zeldamap.png") 0 0 fixed; } }
  @media only screen and (min-width: 1000px) {
    .main-header {
      animation: animatedBackground 400s linear infinite;
      background: url("images/light_world.png") 0 0 fixed;
      overflow: hidden; } }
  @media only screen and (min-width: 640px) {
    .main-header::before {
      border: solid 25px transparent;
      border-bottom: 0;
      border-top: solid 40px rgba(136, 136, 136, 0.2);
      height: 0;
      width: 0;
      z-index: 2;
      left: calc(50%);
      position: absolute;
      bottom: -.5em; } }
  @media only screen and (min-width: 1000px) {
    .main-header::before {
      display: none; } }
  @media only screen and (min-width: 640px) {
    .main-header::after {
      background: #fcf3d6;
      bottom: 0;
      box-shadow: 0 14px 15px rgba(35, 35, 35, 0.8);
      height: 2.3em;
      left: 50%;
      max-width: 550px;
      position: absolute;
      transform: translateX(-50%);
      width: 550px; } }
  @media only screen and (min-width: 1000px) {
    .main-header::after {
      display: none; } }

.main-header__cartridge {
  background: linear-gradient(to right, #787878 0%, #bcbcbc 1.5%, #bcbcbc 31%, #bcbcbc 31%, lightgray 50%, #bcbcbc 73%, #bcbcbc 98.5%, #d7d7d7 100%);
  border-radius: 0 6px 0 0;
  box-shadow: -15px 5px 15px 10px rgba(35, 35, 35, 0.8);
  height: 14em;
  margin: 4em auto 0;
  min-width: 320px;
  overflow: visible;
  position: relative;
  width: 80%; }
  @media only screen and (min-width: 640px) {
    .main-header__cartridge {
      background: linear-gradient(to bottom, #fcf3d6 0%, #bead82 53%, #bead82 53%, #fcf3d6 100%);
      border-radius: 4px;
      box-shadow: 0 0 20px #232323, inset 2px 2px 13px 0px rgba(51, 51, 51, 0.4), inset -12px 20px 23px 3px rgba(255, 255, 255, 0.5);
      height: 30em;
      margin-bottom: 2em;
      max-width: 624px;
      min-width: 624px;
      width: 72%; } }
  @media only screen and (min-width: 1000px) {
    .main-header__cartridge {
      background-color: #8a8a8a;
      background: linear-gradient(to bottom, #bcbcbc 0%, #bcbcbc 90%, #434343 92%, #666666 93%, #ddd 100%);
      background-size: 192px;
      border-width: 0 2px 0 2px;
      border-radius: 5px 5px 0 0;
      box-shadow: -30px 5px 20px 15px rgba(35, 35, 35, 0.6), inset 3px 0 3px rgba(51, 51, 51, 0.8), inset -3px 0 3px rgba(255, 255, 255, 0.8);
      height: 300px;
      text-align: center;
      margin-bottom: 0;
      max-width: 900px;
      min-width: 900px; } }
  .main-header__cartridge::before {
    background: linear-gradient(to right, #787878 0%, #bcbcbc 1.5%, #bcbcbc 31%, #bcbcbc 31%, lightgray 50%, #bcbcbc 73%, #bcbcbc 98.5%, #d7d7d7 100%);
    border-radius: 6px 6px 0 0;
    position: absolute;
    top: -2em;
    height: 2em;
    width: 90%; }
    @media only screen and (min-width: 640px) {
      .main-header__cartridge::before {
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #383838), color-stop(0.01, #bead82), color-stop(0.5, #ececce), color-stop(0.51, #d4caac));
        background-size: 5%;
        border-radius: 0;
        box-shadow: inset 1px 0 2px 1px rgba(0, 0, 0, 0.3);
        height: 110%;
        left: 14.5%;
        top: 0;
        width: 21%;
        z-index: 2; } }
    @media only screen and (min-width: 1000px) {
      .main-header__cartridge::before {
        background: linear-gradient(to right, #787878 0%, #bcbcbc 1.5%, #bcbcbc 31%, #bcbcbc 31%, lightgray 50%, #bcbcbc 73%, #bcbcbc 98.5%, #d7d7d7 100%);
        border-radius: 5px 5px 0 0;
        display: block;
        height: 315px;
        left: 80px;
        margin: 0 auto;
        position: absolute;
        top: -15px;
        width: calc(100% - 160px);
        z-index: initial; } }
  @media only screen and (min-width: 640px) {
    .main-header__cartridge::after {
      border: solid 0 #a2915e;
      border-width: 0 0 2px 2px;
      border-radius: 0 0 8px 8px;
      box-shadow: inset 8px -6px 11px rgba(51, 51, 51, 0.3);
      height: 3.9em;
      left: 14.5%;
      position: absolute;
      top: 0;
      width: calc(21% - 2px);
      z-index: 2; } }
  @media only screen and (min-width: 1000px) {
    .main-header__cartridge::after {
      background: transparent;
      border: solid 1px #7c7c7c;
      border-radius: 20px 20px 0 0;
      bottom: -40px;
      box-shadow: inset -5px 5px 8px #777;
      height: 80px;
      left: 108px;
      top: initial;
      position: absolute;
      width: calc(100% - 216px); } }

.main-header__label {
  background: #d1b971;
  border-radius: 15px;
  height: 12em;
  left: 10%;
  overflow: hidden;
  position: absolute;
  top: 6em;
  width: 80%; }
  @media only screen and (min-width: 640px) {
    .main-header__label {
      border: solid 2px #d4caac;
      border-left-color: rgba(51, 51, 51, 0.3);
      border-radius: 0 0 12px 12px;
      border-top: 0;
      height: 94%;
      left: 38%;
      top: 0;
      width: 47%; } }
  @media only screen and (min-width: 1000px) {
    .main-header__label {
      background: #232323;
      border-color: #ccc;
      border-radius: 0 0 20px 20px;
      color: #f8f8f8;
      font-size: 2.8em;
      height: 230px;
      left: 108px;
      top: -15px;
      width: calc(100% - 216px); } }
  .main-header__label::before {
    background: #fff;
    height: 100%;
    position: absolute;
    width: 25px; }
    @media only screen and (min-width: 640px) {
      .main-header__label::before {
        display: none; } }
    @media only screen and (min-width: 1000px) {
      .main-header__label::before {
        background: #ea241b;
        display: block;
        height: 8px;
        position: absolute;
        right: 10px;
        width: 23%; } }
  .main-header__label::after {
    background: #fff;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px; }
    @media only screen and (min-width: 640px) {
      .main-header__label::after {
        display: none; } }
    @media only screen and (min-width: 1000px) {
      .main-header__label::after {
        background: none;
        border: solid 10px transparent;
        border-top-color: #833eaa;
        display: block;
        left: 20px;
        height: 0;
        position: absolute;
        top: 50px;
        width: 0; } }

.main-header__inner-label {
  background: #d1b971 url("images/mac.png") no-repeat 70% 60%;
  background-size: 70%; }
  @media only screen and (min-width: 640px) {
    .main-header__inner-label {
      height: 100%;
      background-size: 105%;
      background-position: -50% 10%; } }
  @media only screen and (min-width: 1000px) {
    .main-header__inner-label {
      background-position: 10% center;
      background-size: 70%;
      padding: .2em 0 .8em 0;
      border-radius: 2px;
      margin: .1em 4.5em 0 1.7em; } }

.main-header__name {
  width: 80%;
  margin: 1em 10%; }
  @media only screen and (min-width: 640px) {
    .main-header__name {
      position: absolute;
      left: 5%;
      margin: 0;
      top: 56.5%;
      width: 90%; } }
  @media only screen and (min-width: 1000px) {
    .main-header__name {
      position: relative;
      left: initial;
      margin: 0 0 0 -.25em;
      max-width: 111%;
      width: 111%; } }

.main-header__sheild {
  display: none; }
  @media only screen and (min-width: 1000px) {
    .main-header__sheild {
      display: block;
      position: absolute;
      top: 22px;
      right: 14px;
      width: 110px;
      height: 140px; } }

.main-header__job--gb {
  background-color: transparent;
  background-image: linear-gradient(#8a8a8a 12%, transparent 52%);
  background-size: 20%;
  height: 4em;
  position: absolute;
  top: 1em;
  width: 100%; }
  @media only screen and (min-width: 640px) {
    .main-header__job--gb {
      display: none; } }
  .main-header__job--gb::after {
    background: #bcbcbc;
    border: solid 4px #bcbcbc;
    border-radius: 25% 25% 25% 25% / 115%;
    box-shadow: inset 10px 10px 30px rgba(34, 34, 34, 0.7);
    height: 4.3em;
    left: 10%;
    position: absolute;
    top: -6px;
    width: 80%; }

.main-header__job--gb__shadow,
.main-header__job--gb__words {
  position: absolute;
  height: auto;
  width: 70%;
  z-index: 2; }

.main-header__job--gb__shadow {
  left: 17.5%;
  filter: blur(1px);
  opacity: .6;
  top: 50.5%;
  transform: translateY(-50.5%); }

.main-header__job--gb__words {
  left: 17%;
  top: 50%;
  transform: translateY(-50%); }

.main-header__job--nes {
  display: none; }
  @media only screen and (min-width: 640px) {
    .main-header__job--nes {
      display: block;
      margin-left: 5%;
      position: absolute;
      width: 90%;
      top: 50%; } }
  @media only screen and (min-width: 1000px) {
    .main-header__job--nes {
      display: none; } }

.main-header__job--snes {
  display: none; }
  @media only screen and (min-width: 1000px) {
    .main-header__job--snes {
      bottom: 10px;
      display: block;
      font-size: 0;
      height: auto;
      position: absolute;
      right: 15px;
      width: 20%; } }

.main-content {
  background: #f8f8f8;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  min-height: 200px;
  padding: 3em 1em;
  position: relative; }
  .main-content ul {
    padding: 0;
    margin: 0 0 1em 20px; }
  .main-content li {
    margin-bottom: 0.5em; }

.main-content__inner {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%; }

.featured-links {
  background: #f8f8f8;
  box-shadow: -10 -10 20px rgba(51, 51, 51, 0.8);
  margin: 0;
  overflow: hidden;
  padding: 2em 0 0;
  position: relative; }
  @media only screen and (min-width: 640px) {
    .featured-links {
      background: #bcbcbc;
      box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
      overflow: visible;
      padding: 3em 0; } }
  @media only screen and (min-width: 1000px) {
    .featured-links {
      border-radius: 0 0 4px 4px; } }
  @media only screen and (min-width: 640px) {
    .featured-links::before {
      background: transparent;
      bottom: -20px;
      position: absolute;
      border-top: 20px solid #b6b6b6;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      width: calc(100% - 30px);
      z-index: 2; } }
  @media only screen and (min-width: 1000px) {
    .featured-links::before {
      border: 0;
      background: linear-gradient(to bottom, #bcbcbc 0%, #bcbcbc 90%, #434343 92%, #666666 93%, #ddd 100%);
      width: 100%;
      height: 43px;
      top: 26.5%;
      z-index: 0; } }
  @media only screen and (min-width: 640px) {
    .featured-links::after {
      background: #232323;
      height: calc(100% + 20px);
      position: absolute;
      top: 0;
      right: 5em;
      width: 7em;
      z-index: 2; } }
  @media only screen and (min-width: 1000px) {
    .featured-links::after {
      background: #7c7c7c;
      height: 80%;
      margin: 0;
      left: calc(50% - 3.55em);
      width: 7.1em;
      z-index: 0; } }

.featured-links__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 18em;
  overflow: visible; }
  @media only screen and (min-width: 640px) {
    .featured-links__list {
      width: auto;
      margin-left: 5em; } }
  @media only screen and (min-width: 1000px) {
    .featured-links__list {
      margin: 0 auto;
      width: 640px; } }
  @media only screen and (min-width: 640px) {
    .featured-links__list::before {
      background: red;
      border: solid 1px #a80020;
      box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
      height: 1em;
      left: 2em;
      width: 1em;
      position: absolute;
      top: calc(50% - .5em); } }
  @media only screen and (min-width: 1000px) {
    .featured-links__list::before {
      border-radius: 100%;
      height: .5em;
      width: .5em; } }

.featured-links__item {
  display: inline-block;
  position: relative;
  margin: 0; }
  .featured-links__item:last-child {
    float: right; }
    @media only screen and (min-width: 640px) {
      .featured-links__item:last-child {
        float: none;
        margin-left: .3em; } }
    @media only screen and (min-width: 1000px) {
      .featured-links__item:last-child {
        float: right; } }
  @media only screen and (min-width: 1000px) {
    .featured-links__item::before {
      height: 11.4em;
      box-shadow: 0 0 2px rgba(35, 35, 35, 0.6), inset 3px 0 3px rgba(51, 51, 51, 0.8), inset -3px 0 3px rgba(255, 255, 255, 0.8);
      left: 2%;
      position: absolute;
      top: -3em;
      width: 96%; } }

.featured-link {
  display: block;
  color: #0000bc;
  font-family: 'Teko', sans-serif;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform: rotate(-15deg); }
  @media only screen and (min-width: 640px) {
    .featured-link {
      border: solid 5px #f8f8f8;
      border-top-color: #a3a3a3;
      border-left-color: #aaaaaa;
      color: #a80020;
      font-size: 1.4em;
      letter-spacing: 2px;
      line-height: 1;
      padding: 1em 0 0;
      position: relative;
      text-align: center;
      transform: none;
      width: 4em;
      z-index: 2; } }
  @media only screen and (min-width: 1000px) {
    .featured-link {
      border: 0;
      border-radius: 3px;
      box-shadow: inset 2px 2px 6px 1px rgba(0, 0, 0, 0.4), inset -2px -2px 2px 1px rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.8);
      color: #bcbcbc;
      background: #9052b4;
      font-style: italic;
      padding: 1.7em 0 1.2em;
      transition: transform 0.2s;
      width: 12em; } }
  @media only screen and (min-width: 640px) {
    .featured-link:hover::before {
      box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.4); } }
  @media only screen and (min-width: 1000px) {
    .featured-link:hover {
      transform: translateY(-10%); }
      .featured-link:hover::before {
        box-shadow: initial; } }
  @media only screen and (min-width: 1000px) {
    .featured-link:active {
      transform: translateY(-30%); } }
  .featured-link:active::before {
    box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.4); }
    @media only screen and (min-width: 640px) {
      .featured-link:active::before {
        box-shadow: none; } }
  .featured-link::before {
    background: linear-gradient(#636363 0%, #888 100%);
    border-radius: 15% / 50%;
    box-shadow: inset -6px -6px 10px rgba(51, 51, 51, 0.6), inset 6px 6px 10px rgba(255, 255, 255, 0.4);
    height: 1.4rem;
    margin-bottom: 0em;
    width: 6rem; }
    @media only screen and (min-width: 640px) {
      .featured-link::before {
        background: #bcbcbc;
        border: solid 2px #f8f8f8;
        border-bottom-color: #a3a3a3;
        border-radius: 0;
        border-right-color: #aaaaaa;
        box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.7);
        height: calc(100% - 4px);
        left: 0;
        top: 0;
        margin: 0;
        position: absolute;
        width: calc(100% - 4px);
        z-index: -1; } }
    @media only screen and (min-width: 1000px) {
      .featured-link::before {
        background: linear-gradient(#a267cc 0%, #9052b4 100%);
        border: solid 1px #8549a9;
        box-shadow: none;
        width: 80%;
        left: 10%;
        height: 70%;
        top: 15%;
        border-radius: 15% / 50%; } }
  @media only screen and (min-width: 1000px) {
    .featured-link::after {
      display: none;
      width: 80%;
      height: 7.4em;
      background: red;
      top: -2.2em;
      left: 10%;
      position: absolute; } }

.main-footer {
  background: #d1b971;
  overflow: auto; }
  @media only screen and (min-width: 640px) {
    .main-footer {
      background: #00CC00; } }
  @media only screen and (min-width: 1000px) {
    .main-footer {
      background: #9052b4; } }

.main-footer__copy {
  color: #fcfcfc;
  padding: 4em 1em;
  margin: 0 auto;
  max-width: 1040px; }
